.container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.pic-size {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.imageIsNotVisible {
  visibility: hidden;
}
.spacing {
  width: 25%;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: pink;
}
